# Node
node_modules/

# Build output
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime env
.env

# Dependency directories
.pnp.js
.pnp/

# TypeScript
*.tsbuildinfo

# Coverage
coverage/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store

# Other
.vitest/

# Lockfiles
package-lock.json

# pnpm
pnpm-lock.yaml

# Next and others
.next/

